.txt-center {
    text-align: center;
}
.intro-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 7rem;
    color: white;
}
.intro-desc {
    font-size: 2rem;
    color: white;
}
.stack {
    flex-direction: column;
}
.landing-page {
    background-color: #111F4D;
    min-height: 100vh;
    color: white;
}
.about-page {
    min-height: 100vh;
    background-color: #F2F4F7;
    color: #111F4D;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.portfolio-page {
    min-height: 100vh;
    background-color: #E43A19;
    color: #111F4D;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.main-foot{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
}
.top-margin {
margin-top: 1vh;
}
.scroll-arrow {
    font-size: 3rem;
    color: white;
}
.col {
    flex-basis: unset;
    padding-left: 0;
    padding-right: 0;
}
a {
    color: white;
}
.navbg {
    background-color: #020205;
}
.about-text {
    color: #111F4D;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    shadow
}